<div class="container">
  <div class=" ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li>Laith Heaven</li>
      <li>Josh Borgen</li>
    </ul>
  
    <div class="add-members-container">
      <input type="text" placeholder="Name" />
      <div class="center">
        <button (click)=addMember()>Add</button>
      </div>
    </div>

    <div class="input-container"> 
      <input type="text" placeholder="# number of teams" />
      <button>Generate</button>
    </div>
  </div>
</div>